span.indent {
  margin-left: 10px;
  margin-right: 10px;
}
.hide {
  display: none;
}
a {
  text-decoration: none;
}
.list-group {
  padding-inline-start: 40px;
}
.list-group-item {
  border: 0;
  cursor: pointer;
}
.list-group-item.active {
  color: #fff;
}